<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LOGIN FORM</title>
    <link rel="stylesheet" href="Login.css">
  </head>
  <body>
    <form class="FORM" >
      <h1>Login</h1>

      <div class="textboxdiv">
        <input type="text" placeholder="username" value="Username" required/>
      </div>
      <div class="textboxdiv">
        <input type="password" placeholder="password" value="passwd" required/>
      </div>
      <input type="submit" placeholder="Login" class="Loginbtn">
      <div class="signup">
        I don't have an account?
        </br>
        <a href="#">Sign up</a>
      </div>
    </form>
  </body>
</html>
